<a href="https://colab.research.google.com/github/sequence3/EuroVision/blob/main/Python_Basic_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basic No. 1

This is a crash course in basic Python. The goal is you will be able to read and understand the code used in the course. Together we are going to do a Python program with some simple code. In order to keep a good speed no GUI no structure of program. Just coding:
*   Simple declarations
*   Initialising & changing values
*   Printing
*   Maximum, minimum, sum and average of the elements in an integer array


Useful links:

https://www.w3schools.com/Python/default.asp

https://docs.python.org/3/library/random.html

https://www.tutorialspoint.com/python_data_structure/python_2darray.htm

https://stackoverflow.com/questions/6142689/initialising-an-array-of-fixed-size-in-python

### Assignment 1: Application program, declaration

Enter the following piece of code in the cell below:

```
int x = 1
y = 3
z = 5
sum = x+y+z
Print(sum)
```

Run the cell by clicking the arrow.

Note: Fix case error and type declaration error.

What did you learn?

In [1]:
x = 1
y = 3
z = 5
initial_sum = x+y+z # Имя переменной изменено с 'sum' на 'initial_sum'
print(initial_sum)

9

Now print out the result with a text by calling `print`:

```
print("Sum is: " + sum)
print("Sum is: " + str(sum) + " DKK")
#Finally use the f-strings
print(f"Sum is: + {sum} + DKK")
```

Unfortunately there are errors. Correct the errors.

In [9]:
print("Sum is: " + str(initial_sum))
print("Sum is: " + str(initial_sum) + " DKK")
# Finally use the f-strings
print(f"Sum is: {initial_sum} DKK")

Sum is: 9
Sum is: 9 DKK
Sum is: 9 DKK

### Assignment 2: Application program, loops

For-loops in Python are actually for-each loops.
Try to print out a list of squares:

```
for i in range(1, 10):
    print(i,i*i)
print()
```

Indent both `print()` statements. What happens? Explain.

Undo the last indentation.

Change the `print(i,i*i)` statement to `print(i,i*i, end = " ")`

In [ ]:
for i in range(1, 10):
    print(i,i*i, end = " ")
print()

### Assignment 3: Application program, nested for loops

A multiplication table (10*10) looks like this:

```
 1  2  3  4  5  6   7  8  9 10
 2  4  6  8 10 12  14 16 18 20
 3  6  9 12  .  .
 4  8 12  .  .  .
 5 10  .  .  .  .
 6 12
 7 14
 8 16
 9 18
10 20
```
Now you have to print out the numbers in the table using nested loops; i.e. a for-loop inside another for-loop. The formatting (a real table format) does not matter; it is the loops and content we focus on.
Tip: `print(i*j, end = “ “)`

In [ ]:
for i in range(1, 11):
    for j in range(1, 11):
        print(i * j, end=" ")
    print()

### Assignment 4: Application program, while-loops

Try to print out a list of squares using a while-loop:

```
i = 1
while (i<=10):
    ........
```

Write the rest of the code lines yourself in the cell below:

In [ ]:
i = 1
while (i <= 10):
    print(i, i * i)
    i += 1
print()

### Assignment 5: Application program, if-else

Try to print out the maximum of two numbers: `x` and `y`

```
x = 7
y = 23
if (x > y):
    print("x: "+ str(x))
else:
    print("y: "+ str(y))
```

Run in the cell below

In [ ]:
x = 23
y = 7
if (x > y):
    print("x: "+ str(x))
else:
    print("y: "+ str(y))

### Assignment 6: Method maximum of two numbers

Extend with a new method `findMax(x,y)`, which returns the maximum of the parameters

```
def findMax(x,y):
    if (x > y):
        . . . . . .
```
Call the method and print out the maximum value.
Tip: Be inspired by assignment 5 but remember return !

In [ ]:
def findMax(x,y):
    if (x > y):
        return x
    else:
        return y

x = 24
y = 14
max_num = findMax(x, y)
print("The maximum value between {} and {} is: {}".format(x, y, max_num))

Assignment 7: Application program 1-dim array (list) of numbers

Lists are actually the Python version of 1-dim arrays.
Declare a list with the primes:

```
data = [1,2,3,5,7,11,13,17,19,23]
print(data)
for item in data:
    print(item, end = " ")
```

Run in the cell below. Explain the output.

In [ ]:
data = [1,2,3,5,7,11,13,17,19,23]
print(data)
for item in data:
    print(item, end = " ")

Add some more lines:

```
print(data[3])
data[0] = 17
data.append(37)
print(data)
```
Run in the cell below. What do you expect to see?

In [ ]:
data = [1,2,3,5,7,11,13,17,19,23]
print(data)
for item in data:
    print(item, end = " ")
    print(data[3])
data[0] = 17
data.append(37)
print(data)

Add more lines:

```
data.insert(4,99)
print(data)
```

Run it in the cell below. What do you expect to see now?
What did you learn? Difference between append and insert.

In [3]:
data = [1,2,3,5,7,11,13,17,19,23]
print(data)
for item in data:
    print(item, end = " ")
    print(data[3])
data[0] = 17
data.append(37)
print(data)
data.insert(4,99)
print(data)

[1, 2, 3, 5, 7, 11, 13, 17, 19, 23]
1 5
2 5
3 5
5 5
7 5
11 5
13 5
17 5
19 5
23 5
[17, 2, 3, 5, 7, 11, 13, 17, 19, 23, 37]
[17, 2, 3, 5, 99, 7, 11, 13, 17, 19, 23, 37]

### Assignment 8: Method maximum

Extend with a new method find_max(data), which returns the maximum of the numbers in the list data.


```
def find_max(data):
    my_max_ = max(data)
    return my_max
```

Call find_max with data as parameter:

```
max_num = find_max(data)
```

and print out the maximum number.

In [4]:
def find_max(data):
    my_max = max(data)
    return my_max
max_num = find_max(data)
print(f"Maximum number in the list: {max_num}")

Maximum number in the list: 99

Assignment 9: Method minimum

Extend with a new method `find_min(data)`, which returns the minimum value of the numbers in the parameter `data`. Remember to introduce extra printing-sentences for this.

In [5]:
def find_min(data):
    my_min = min(data)
    return my_min
min_num = find_min(data)
print(f"Minimum number in the list: {min_num}")

Minimum number in the list: 2

### Assignment 10: Method Sum

Extend with a new method `find_sum(data)`, which returns the sum value of the numbers in the array parameter `data`.

In [6]:
def find_sum(data):
    my_sum = sum(data)
    return my_sum
total_sum = find_sum(data)
print(f"Sum value of the numbers in the list: {total_sum}")

Sum value of the numbers in the list: 253

### Assignment 11: Average

Extend with a new method `average(data)`, which returns the average of all numbers in the list. Utilize `find_sum` method from previous assignment.

In [14]:
def average(data):
    total_sum_val = find_sum(data)
    if len(data) == 0:
        return 0
    my_avg = total_sum_val / len(data)
    return my_avg

    total_avg = average(data)
print(f"Average of all numbers in the list: {total_avg}")

Average of all numbers in the list: 21.083333333333332

Assignment X: The 5 highest numbers

How to find the 5 highest numbers in a list. How to return this from a method.
Or maybe you can make it flexible so it can be any highest numbers like 6 or 11 etc.

In [16]:
def find_n_highest(data_list, n):
    if not data_list:
        return []
    if n <= 0:
        return []

    sorted_list = sorted(data_list, reverse=True)

    return sorted_list[:n]

n_value = 5
highest_numbers = find_n_highest(data, n_value)
print(f"The {n_value} highest numbers in the list are: {highest_numbers}")

The 5 highest numbers in the list are: [99, 37, 23, 19, 17]